
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow users to read and write to their own account document.
    match /accounts/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Allow users to create and read their own transactions.
    match /transactions/{transactionId} {
      // Create: User must be logged in and the transaction must belong to them.
      allow create: if request.auth.uid == request.resource.data.accountId;
      // Read, Update, Delete: User must be logged in and the transaction must belong to them.
      allow read, update, delete: if request.auth.uid == resource.data.accountId;
    }
  }
}
