
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read/write their own account.
    match /accounts/{userId} {
      allow read, update, write: if request.auth != null && request.auth.uid == userId;
    }

    // Users can create transactions for themselves.
    // Users can list transactions if they are querying by their own accountId.
    match /transactions/{transactionId} {
      allow create: if request.auth.uid == request.resource.data.accountId;
      allow list: if request.auth.uid == request.query.where.accountId.value;
    }
    
    // Users can read and write their own notifications.
    match /notifications/{notificationId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
